body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f3;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 25% 25% 50%;
}

#banner {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #00000f;
  color: #f7f7f7;
  font-size: 2rem;
}

#drawer-controls-ctr {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.drawer-controls-row {
  margin: 1rem 0 1rem 0.5rem;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
}
